.container{
  
.main-pic{
  width: 100%; 
  height: 350px; 
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    img{ 
    flex-basis: 25%; 
    width: 250px; 
    height: 300px; 
    margin: 15px; 
  }

}
}