.card{
  display: flex;
  justify-content: center;
  width: 50%; 
  margin:auto; 


  .controls{
    display: flex; 
    justify-content: space-between; 
  }
  #dob-day, #dob-month, #dob-year{
    width: 120px; 
    height: 30px; 
  }

  .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem; 
    width: 30%;

  }
}