.card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

.card-container{
width: 700px; 
height: 350px; 
display: flex; 
justify-content: space-between;
}

.left{
width: 40%; 

img{
  width: 120px; 
  height: 120px; 
  border-radius: 50%; 
  margin-left: 5rem;
  margin-bottom: 2rem; 
  }

.name,.country,.date{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.name{
  font-size: 20px; 
}
.country,.date{
  color: grey; 
}
}

button{
width: 8rem; 
height: 2rem; 
margin-top: 2rem; 
border-radius: 8px; 
margin-left: 5rem;
}
.right{
width: 60%;  

img{
  width: 80%; 
  height: 100%; 
}
}